.hero-banner {
  /* background: url(../../img/Rectangle\ 8.jpg) no-repeat center/cover; */
  padding: 120px 0;
}
.hero-banner h1 {
  max-width: 700px;
  margin: auto;
  color: #C10017;
  text-align: center;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.hero-banner p {
  margin: 30px auto;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.hero-banner .btn {
  display: flex;
  margin: 30px auto;
}

.blog {
  margin-bottom: 70px;
}
.blog h2 {
  text-align: center;
  border-bottom: 10px solid rgb(255, 223, 223);
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #C10000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px 0 40px;
}
.blog-wrapper .blog-item {
  width: calc(33% - 30px);
  margin: 15px;
}
.blog-wrapper .blog-item img {
  width: 100%;
  max-height: 250px;
}
.blog-wrapper .blog-item h3 {
  display: inline-block;
  margin-top: 14px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-wrapper .blog-item p {
  padding: 32px 0 42px;
  color: #454A4B;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}