* {
    margin: 0;
    padding: 0;
}

/* Glob */

body, input, textarea, select {
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
}

/* Glob <-- END */
/* Button */

.btn {
    display: inline-block;
    width: fit-content;
    padding: 14px 40px;

    border-radius: 0px;
    text-transform: uppercase;
    background-color: #B22234;
    color: #fff;
    text-decoration: none;
    border: 2px solid #B22234;
}

.btn:hover {
    color: #B22234;
    border-color: #B22234;
    background-image: initial;
    background-color: #FFF;
    border: 2px solid #B22234;
}

/* Button <-- END */
/* Conteiner */

.container {
    max-width: 1366px;
    margin: auto;
    width: 90%;
}

.row-fl {
    display: flex;
    flex-wrap: wrap;
}

.row-fl .col-full-1_2 {
    width: 50%;
}

.row-fl .col-full-1_3 {
    width: 33.33%;
}

.row-fl .col-full-1_4 {
    width: 25%;
}

.row-fl .col-full-3_4 {
    width: 75%;
}

.row-fl .col1_2 {
    width: 48.5%;
    margin-right: 3%;
}

.row-fl .col1_2:nth-child(2n) {
    margin-right: 0;
}

.row-fl .col1_3 {
    width: 31.3333%;
    margin-right: 3%;
}
.row-fl .col1_3:nth-child(3n) {
    margin-right: 0;
}


.row-fl .ucol1_4 {
    width: 22.75%;
    margin-right: 3%;
}

.row-fl .ucol3_4 {
    width: 74.25%;
}

/* Conteiner <-- END */
/* Home Banner */

.ta-home-banner {
    background-color: #FFFFFF;
    padding-top: 30px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.ta-home-banner .informer {
    padding-top: 180px;
    padding-bottom: 140px;
}

.ta-home-banner .informer .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
}

.ta-home-banner .informer .desc {
    font-size: 20px;
    margin-top: 20px;
}

.ta-home-banner .informer .btn {
    margin-top: 30px;
}

.ta-home-banner .inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMTZweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0wIDQ3LjQ0TDE3MCAwbDYyNi40OCA5NC44OUwxMTEwIDg3LjExbDE3MC0zOS42N1YxNDBIMFY0Ny40NHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMCA5MC43MmwxNDAtMjguMjggMzE1LjUyIDI0LjE0TDc5Ni40OCA2NS44IDExNDAgMTA0Ljg5bDE0MC0xNC4xN1YxNDBIMFY5MC43MnoiLz48L2c+PC9zdmc+);
    background-size: 100% 116px;
    bottom: 0;
    height: 116px;
    z-index: 10;
    transform: scale(1,1);
    position: absolute;
    bottom: 0;
    height: 116px;
    left: 0;
    right: 0;
}

.ta-home-banner .ta-img {
    background-size: contain;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Home Banner <-- END */
/* Home BBL */

.ta-home-bbl {
    margin-top: 24px;
}
.ta-home-bbl .container {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.ta-home-bbl .container > .title {
    color: #B22234;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.ta-home-bbl .container .box {
    padding: 50px 30px;
    height: calc(100% - 100px);
}

.ta-home-bbl .container .box > .title {
    padding: 50px 30px;
    font-size: 35px;
    padding-bottom: 1.5rem;
}

.ta-home-bbl .container .box >  .desc {
    text-align: center;
}

.ta-home-bbl .container .box {
    color: #FFFFFF;
    background-color: #FFF;
    transition: transform 300ms ease 0ms;
    position: relative;
}

.ta-home-bbl .container .box:hover {
    background-color: #FFF;
    transform: scaleX(1.05) scaleY(1.05);
}

.ta-home-bbl .container .box::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: none;
    z-index: -1;
}

.ta-home-bbl .container .box:hover::after {
    display: block;
    background-image: linear-gradient(180deg,rgb(178 34 52 / 75%) 0%,rgb(0 0 0 / 10%) 100%) !important;
}

/* Home BBL <-- END */
/* Home Imrep */

.ta-home-imrep {
    background-color: #B22234;
}

.ta-home-imrep .row-fl > .img {
    filter: hue-rotate(344deg) contrast(108%) invert(8%);
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
}

.ta-home-imrep .row-fl .informer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}

.ta-home-imrep .row-fl .informer > .title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 3.093%;
}

.ta-home-imrep .row-fl .informer > .desc {
    padding-bottom: 1.5em;
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.5;
}

/* Home Imrep <-- END */
/* Home Effh */

.ta-home-effh {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ta-home-effh .col1_3 > h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    overflow-wrap: normal;
}

.ta-home-effh .col1_3 > p {
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.5;
}

/* Home Effh <-- END */
/* Home Tguid */

.ta-home-tguid {
    background-position: center top;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
}

.ta-home-tguid .col-full-1_2 > h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    overflow-wrap: normal;
    padding-bottom: 0.5em;
}

.ta-home-tguid .col-full-1_2 > p {
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.5;
    padding-bottom: 1.5em;
}
/* Home Tguid <-- END */
/* Home Att */

@keyframes fadeLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
}

.ta-home-att {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ta-home-att .content {
    max-width: 550px;
    border: 2px solid #005B7F;
    padding: 20px;
    margin: auto;
    position: relative;
}

.ta-home-att .content .img {
    animation: fadeLeft 1s cubic-bezier(.77,0,.175,1) 1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ta-home-att .inform {
    margin-left: 100px;
}

.ta-home-att .inform > h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    overflow-wrap: normal;
    padding-bottom: 1em;

}

.ta-home-att .inform > h2 a {
    text-decoration: none;
    color: #000;
}

.ta-home-att .inform > p {
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.5;
    padding-bottom: 1.5em;
}

/* Home Att <-- END */
/* Home Tes */

.ta-home-tes {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333333;
    color: #fff;
}

.ta-home-tes .swiper {
    min-height: 420px;
    height: fit-content;
    overflow: hidden;
}


.ta-home-tes .ucol3_4 .swiper {
    padding-left: 60px;
}

.ta-home-tes .ucol1_4 > .title {
    margin-bottom: 6.593%;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}
.ta-home-tes .ucol1_4 > img {
    box-shadow: 10px 10px 0px 0px #B22234;
}

.ta-home-tes .ucol3_4 .swiper-slide h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    overflow-wrap: normal;
    padding-bottom: 1em;

}

.ta-home-tes .ucol3_4 .swiper-slide p {
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.5;
    padding-bottom: 1.5em;
}

.ta-home-tes .swiper-button-prev,
.ta-home-tes .swiper-button-next {
    background-color: rgb(255 255 255 / 75%);
    padding: 10px 15px;
    color: #ff3939;
    backdrop-filter: blur(1px);
    opacity: 0;
    transition: 1.5s;
}

.ta-home-tes .swiper:hover .swiper-button-prev,
.ta-home-tes .swiper:hover .swiper-button-next {
    opacity: 1;
    
}

/* Home Tes <-- END */
/* Adaptive  */

@media (max-width: 768px) {

    .ta-home-banner .col-full-1_2 {
        width: 100%;
    }

    .ta-home-banner .col-full-1_2.ta-img {
        display: none;
    }

    .ta-home-bbl .container {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .ta-home-bbl .row-fl .col1_3 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .ta-home-imrep .row-fl > .img {
        display: none;
    }

    .ta-home-imrep .col1_2 {
        width: 90%;
        margin: 0 20px;
    }

    .ta-home-effh .col1_3 {
        width: 90%;
        margin-bottom: 20px;
    }

    .ta-home-tguid .col-full-1_2 {
        width: 100%;
    }

    .ta-home-att .content .img {
        left: 10px;
        top: 0;
        transform: translate(0%, -30%);
    }

    .ta-home-att .inform {
        margin-left: 0;
        margin-top: 175px;
    }

    .ta-home-tes .ucol1_4,
    .ta-home-tes .ucol3_4  {
        width: 100%;
    }
    
    .ta-home-tes .ucol3_4 .swiper {
        padding-left: 0;
        margin-top: 20px;
    }
}
/* Adaptive <-- END */
/* Header */

header .top-header {
    background-color: #B22234;
    color: #fff;
    padding: 10px 30px;
}

header .top-header .ift {
    text-align: center;
}

header .top-header .ift a {
    color: #fff;
}

header .bottom-header {
    padding: 15px 30px;
}


.header-nav-flex {
    display: flex;
    flex-direction: row-reverse;

}

ul.header-nav {
    display: flex;
    list-style: none;
    align-items: center;
}

li.menu-item {
    margin: 10px;
}

li.menu-item a {
    color: #000;
    text-decoration: none;
}

li.menu-item a:where(:hover, :focus) {
    color: #B22234;
    text-decoration: none;
}


.sub-menu {
    display: none;
}

.sub-menu .sub-menu {
    display: none;
}

/* footer */


footer .top-footer {
    padding: 50px 0;
    background-position: right 0px bottom 0px;
    
}

footer .bottom-footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0 20px 0;

}

footer input:not([type=submit]) {
    padding: 12px 0;
}

footer input:not([type=submit]),
footer textarea {
    background: rgba(0,0,0,0.08);
    border: none;
    border-bottom: 1px solid #000;
    border-radius: initial;
    box-shadow: initial;
    color: #000;
}

footer .input-wrapper {
    display: flex;
    flex-direction: column;
}

footer .input-wrapper label {
    padding-bottom: 15px;
}

footer .top-footer h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

footer .top-footer .row-fl {
    margin-top: 20px;
}



/*****/


.container-test {
    padding: 80px 0 50px 0;
    text-align: center;
}

.container-test #questionnaire_title {
    margin: 20px 0;
    font-size: 42px;
}

.container-test  #questionnaire_form h3 {
    margin: 20px 0;
}

.container-test  #questionnaire_form h2 {
    margin: 20px 0;
    font-size: 42px;
}

.container-test #questionnaire_form p {
    line-height: 1.8em;
}

.container-test  #questionnaire_form button {
    display: inline-block;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #B22234;
    color: #fff;
    text-decoration: none;
    /* border: 2px solid #B22234; */
    border: none;
    border-bottom: 1px solid black;
}

.container-test  #questionnaire_form select {
    padding: 10px 30px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 10px ;
}